<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Eat Da Burger!</title>
		<link rel="stylesheet" href="assets/css/style.css" type="text/css">
		<script src="https://code.jquery.com/jquery.js"></script>
	</head>
	<body>
		{{{ body }}}
		<script>
			$("#submitBurger").on("click", function(event) {
				event.preventDefault();
				var burger = {
					name: $("#burger").val().trim()
				}
				console.log(burger)
				$.post("/api/burgers", burger, function(data) {
					console.log(data);
					location.reload();
				})
			});

			$(".devour").on("click", function(event) {
				event.preventDefault();
				var id = $(this).data("id")

				$.ajax({url: "api/burgers/" + id, method: "PUT"}).then(function(data) {
					console.log(data);
					location.reload();
				})
			})
		</script>
	</body>
</html>
