<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Eat Da Burger!</title>
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
</head>

<body>
    <img class="burger" src="assets/images/burger.png">
    <h1>Eat Da Burger!</h1>
    
    <div id="burgers-available">
        <div class="uneaten">
           
                
                {{#each burgers}}
                {{#unless devoured}}
                {{>burger-list eaten=false}}
                {{!-- <form class="devoured-burger" action="/{{id}}?_method=PUT" method="POST">
                    <button class="devour-button">DEVOUR IT</button>
                </form> --}}
                    
            {{/unless}}
            {{/each}}
        </div>

        <div class="eaten">
                <h3> Yummy Burgers </h3>
                {{#each burgers}}
                {{#if devoured}}
                {{>burger-list eaten=false}}
                {{/if}}
                {{/each}}

            </div>
        </div>
        

        {{!-- <form action="/" method="POST"> --}}
        <textarea name="burger" id="burger"></textarea>
        <button type="submit" id="submitBurger">Submit</button>
        <p class="submit-text"> Enter a burger you want to eat and then click the Submit button.</p>
   </div>
    
</body>

</html>